@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap);

body {
    background: #f8f9fd !important;
    color: gray;
}

.lunar-calendar-style2 {
    font-family: "Lato", Arial, sans-serif;
    border-radius: 5px;
    -webkit-box-shadow: 0px 19px 27px -20px rgb(0 0 0 / 16%);
    -moz-box-shadow: 0px 19px 27px -20px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 19px 27px -20px rgb(0 0 0 / 16%);

    width: 800px;

    .calendar-wrap {
        background: #fff;
        padding: 40px 20px;
        width: 550px;
        height: 550px;
    }

    a {
        color: black;
        font-family: "Lato", Arial, sans-serif;
        text-decoration: none;
    }

    .fc-scroller {
        overflow: hidden !important;

    }

    .fc-daygrid-day{
       
        &.fc-day-today {
            background: none;
        }
    }

    .fc-daygrid-day-frame {
        //padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 50%;
        cursor: pointer;
        -webkit-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        min-height: 70px;
        
        .fc-daygrid-day-top {
            display: unset;
        }
        &:hover {
            cursor: pointer;
        }
        &.fc-daygrid-today,
        &:hover {
            background-color: rgba(57, 203, 117, 1);
        }

        &:active {
            -webkit-transform: scale(0.7);
            -ms-transform: scale(0.7);
            transform: scale(0.7); 
        }

        &.fc-daygrid-selected {
            background-color: rgba(42, 50, 70, 1);
            
        }
        &:hover, 
        &.fc-daygrid-today,
        &.fc-daygrid-selected {
            a, .fc-daygrid-day-lunnar {
                color: #ffffff;
            }
        }
        .fc-daygrid-day-lunnar {
            font-size: 0.5em;
            color: rgb(93, 93, 93, .6);
            position: absolute;
            right: 15px;
            bottom: 10px;
            //display: none;
        }
    }

    .lunar-info {
        position: relative;
        background: #39cb75;
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important; 

        .reset-btn {
            display: block;
            position: absolute;
            right: 0.5em;
            top: 0.5em;
            z-index: 999;
            color: rgba(255, 255, 255, 0.7);
            cursor: pointer;
            padding: 0 0.5em;
            border: 1px solid rgba(255, 255, 255, 0.4);
            border-radius: 4px;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            text-transform: uppercase;
            font-size: 11px;  
        }

        .lunar-header {
            width: 100%;
            position: relative;

            .pre-button, .next-button {
                cursor: pointer;
                width: 1em;
                height: 1em;
                line-height: 1em;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                font-size: 18px;
                color: #fff;
            }

            .pre-button {
                left: 5px;
            }

            .next-button {
                right: 5px;
            }

            .head-day {
                font-size: 8em;
                //line-height: 1;
                color: #fff;
            }

            .head-month {
                font-size: 2em;
                //line-height: 1;
                color: #fff;
                font-size: 18px;
                text-transform: uppercase;
            }
        }
    }
}